
.container {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 70px;
}

.container i {
    font-size: 55px;
    padding-bottom: 16.2px;
}

.container p{
    font-size: 15px;
}
